.container{
	width: 100%;
}

#header{
background-color:purple;
color:white;
text-align:center;
padding:2%	
} 
	
#header1{
background-color:purple;
color:white;
text-align:left;
padding:2%	
} 

#proses{
	float: left;
	width:15%
	
}


#proses img{
	float: left;
	margin: 75px 75px 0 0;
	border-radius: 4%;
	
}

#p{
	float: left;
	width:15%
	
}


#header3{
background-color:WHITE;
color:purple;
text-align:center;
padding:2%	
}
