.container{
	width: 100%;
}

#header{
background-color:purple;
color:white;
text-align:center;
padding:2%;font-size:xx-large;
} 

#h1{text-align:center;font:status-bar;font-size:xx-large;
}
	
#header1{
background-color:purple;
color:white;
text-align:left;
padding:2%	
} 


#proses{
	float: left;
	width:20%
	
}


#proses img{
	float: center;
	margin: 100px 100px 0 0;
	border-radius: 4%;
	
}


p{
	float: center;
	width:25%
	margin: 50px 50px 0 0;
	border-radius: 4%;
COLOR:black;

}


#header3{
background-color:WHITE;
color:purple;
text-align:center;
padding:2%	
}

h3{text-align:center;
}
 
body{color:white;background-color:black;
	
}


ul {
    list-style: square outside url('sqpurple.gif');
    
    }
     

 


