.container{
	width:100%;
	height:100%;
}

#header {
	background-color:#822e8c;
	padding-bottom:5.2%;	
	background-image:none;
	
}

#header img{
	float:left;
	
}
	
#header p{
	float:right;
	font-family: Arial, Helvetica, sans-serif;
	color:white;
	padding:12px;
}

#index{
	background-image:url('image/conversation.jpg');
	color: white;
	text-align:center;
	width:100%;
	height:30%;
	padding-bottom:20%;
	padding-top:1%;
}

#button{
	color:white;
	background-color:orange;
	border:none;
	text-align:center;
	text-decoration:none;
	display:inline-block;
	font-size:16px;
	padding:15px 32px;

}

#adz1{
	background-color:black;
	color:white;
}

#adz {
	width:100%;
	background:black;
	color:white;
}

#adz tr td img{
	height:100px;
	width:150px;
	padding:3%;
}

footer{
	padding:1%;
	background-color:#822e8c;
}

footer p {
	color:white;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
}